@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1200px;
}

.content{
    padding-top: 3%;
    margin: auto;
  }
  .side{
        padding-top: 3%;
  }
  
.card-deck .card {
    min-width: 220px;
}

.masthead {
    position: relative;

    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.masthead .overlay {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.masthead h1 {
    font-size: 2.5rem;
}

.errorMessage {
    border: 1px solid red;
    background-color: #fcbdbd;
    color: red;
    margin-bottom: 1em;
    display: none;
}

#error {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#loggedinDiv {
    display: none;
}

.clickable {
    cursor: pointer;
}


.accountName {
  color: #2267B5;;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 6px;
}


.list-heading{
margin-left: 1.5rem;
}