.side{
	max-width: 21%;
}

.content{
	margin-top:2%;
}

.foodIcon{
	width:14%;
	margin-right:7%;
}

.filterBtn{
	width:100%;
	text-align: left;
	margin-bottom:5%;
	margin-top:2%;
	color: white;
}

.filterBtn:hover{
	color: white;
}

input[type="checkbox"]{
	margin-right:5%;
}

.check{
	margin-right:8%;
	white-space:nowrap;
}

.right{
	width:6%;
	right:12%;
	position: absolute;
	margin-top:2.5%;
}

.summaryImg{
width:100%;
}

.resultImg{
    position: relative;

}

.bottom-right {
    position: absolute;
bottom: 0px;
right: 0px;
background-color: rgba(0, 0, 0, 0.58);
color: white;
padding: 2%;
}

#searchResult{
	display:none;
}

